.sell-upload-box
  %h3.sell-upload-head
    出品画像
    %span.form-require 必須
  %p 最大4枚までアップロードできます
  .sell-dropbox-container.clearfix.state-image-number-4
    .sell-upload-items-container
      .sell-upload-items.have-item-0
        %ul
    .sell-upload-drop-box#drop_zone
      = f.fields_for :item_images do |i|
        = file_field(i, :image , class: 'sell-upload-drop-file', multiple: true, style: 'display: none;')
        %pre.visible-pc
          :preserve
            ドラッグアンドドロップ
            またはクリックしてファイルをアップロード
