.sell-upload-box
  #preview
  %h3.sell-upload-head
    出品画像
    %span.form-require 必須
  %p 最大4枚までアップロードできます
  .sell-dropbox-container.clearfix.state-image-number-4
    .sell-upload-items-container
      .sell-upload-items.have-item-0
        %ul
        .sell-upload-drop-box#drop_zone.clearfix
          %pre
            =preserve do
              ドラッグアンドドロップ
              またはクリックしてファイルをアップロード
= f.fields_for :item_images do |i|
  = i.file_field(:image , class: 'sell-upload-drop-file', multiple: true, style: 'display: none;')
