.sell-upload-box
  #preview
  %h3.sell-upload-head
    出品画像
    %span.form-require 必須
  %p 最大4枚までアップロードできます
  .sell-dropbox-container.clearfix.state-image-number-4
    .sell-upload-items-container
      .sell-upload-items.have-item-0
        %ul
        .sell-upload-drop-box#drop_zone.clearfix
          %pre
            =preserve do
              ドラッグアンドドロップ
              またはクリックしてファイルをアップロード
= f.file_field "item_image", multiple: true, name: "item[item_images_attributes][][image]",class: 'sell-upload-drop-file', style: 'display: none;'
