.user-card
  .user-card__header
    %h2 クレジットカード情報登録
  .user-card__inner
    = form_for(@user, url: edit_user_registration_path(@user.id)) do |f|
      = render 'devise/form/cardInfo', {f: f}
      .user-card__inner--btn
        = f.submit "追加する", class: "btn-default btn-red"
