.banner-content__image
  .banner-content__main-box
    %h2 スマホでかんたんフリマアプリ
    %p 今すぐ無料ダウンロード!
    .banner-content__icons-box.clearfix
      .banner-content__mercari-icon
        =image_tag '/images/mercari_icon.png', size: '68x68'
      %ul
        %li
          %a(href='')
            =image_tag '/images/App_icon.png', size: '133x40'
        %li
          %a(href='')
            =image_tag '/images/Google-Play.png', size: '133x40'
  %figure
    =image_tag '/images/banner-phone-image.png', size: '300x260'
