%p
  %a{:href => "/jp/help_center/getting_started/prohibited_items/", :target => "_blank"} 禁止されている出品
  、
  %a{:href => "/jp/help_center/getting_started/prohibited_conduct/", :target => "_blank"} 行為
  を必ずご確認ください。
%p
  またブランド品でシリアルナンバー等がある場合はご記載ください。
  %a{:href => "/jp/help_center/getting_started/counterfeit_goods/", :target => "_blank"} 偽ブランドの販売
  は犯罪であり処罰される可能性があります。
%p
  また、出品をもちまして
  %a{:href => "/jp/seller_terms/"} 加盟店規約
  に同意したことになります。
