.banner-content__image
  .banner-content__main-box
    %h2 スマホでかんたんフリマアプリ
    %p 今すぐ無料ダウンロード!
    .banner-content__icons-box.clearfix
      .banner-content__mercari-icon
        =image_tag '/images/mercari_icon.png', :size => '68x68'
      %ul.clearfix
        %li
          %a(href='')
            =image_tag '/images/App_icon.png', :size => '133x40'
        %li
          %a(href='')
            =image_tag '/images/Google-Play.png', :size => '133x40'
  %figure
    =image_tag '/images/banner-phone-image.png', :size => '300x260'
      
  



/ .top-images__item 
/         .top-images__main-image
/           .top-images__main-image-wrapper
/             .top-images__text-content
/               %h2
/                 スマホでかんたん
/                 %br>/
/                 フリマアプリ
/               %p 
/                 メルカリはスマホカメラからすぐに出品できる
/                 %br>/
/                 購入時も安心な独自システムのアプリです
/               .top-images__download-btn.clearfix
/                 %a(href='https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8' target='_blank' class='btn-left')
/                   %img(src='//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4136293187' alt='')
/                 %a(href='https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja'target='_blank' class='btn-right')
/                   %img(src='//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4136293187' alt='')
/             %img(src='//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?4136293187' class='top-images__phone-image')