%section.items__box-content
  = link_to item_path(item) do
    %figure.items__box-content-photo
      - if item.buyer_id
        .items__box-content-sold
          %p sold
        =image_tag "#{item.item_images[0].image}"
      - else
        =image_tag "#{item.item_images[0].image}"
    .items__box-content-text
      %h3.item__box-content-text-name
        =item.name
      .items__box-content-text-num.clearfix
        .items__box-content-text-price
          = item_price(item.price)
        .items__box-content-text-likes
          %i.far.fa-heart.like-icon
          %span 22
        %p.items__box-content-text-tax (税込)