%section.items
  %h2.items__head ピックアップカテゴリー
  %section.items__box.clearfix
    %h3.items__title-text
      %a(href='') レディース新着アイテム
    .items__box-contents.clearfix
      %section.items__box-content
        %a(href='')
          %figure.items__box-content-photo
            =image_tag '/images/Hana.jpeg', :size =>'213x213'
          .items__box-content-text
            %h3.item__box-content-text-name デッドデッドデーモンズデデデデデデストラクション
            .items__box-content-text-num.clearfix
              .items__box-content-text-price ¥9,000
              .items__box-content-text-likes
                =fa_icon 'heart',class: 'like-icon'
                %span 22
              %p.items__box-content-text-tax (税込)
      %section.items__box-content
        %a(href='')
          %figure.items__box-content-photo
            =image_tag '/Hana.jpeg', :size =>'213x213'
          .items__box-content-text
            %h3.item__box-content-text-name デッドデッドデーモンズデデデデデデストラクション
            .items__box-content-text-num.clearfix
              .items__box-content-text-price ¥9,000
              .items__box-content-text-likes
                =fa_icon 'heart',class: 'like-icon'
                %span 22
              %p.items__box-content-text-tax (税込)
      %section.items__box-content
        %a(href='')
          %figure.items__box-content-photo
            =image_tag '/Hana.jpeg', :size =>'213x213'
          .items__box-content-text
            %h3.item__box-content-text-name デッドデッドデーモンズデデデデデデストラクション
            .items__box-content-text-num.clearfix
              .items__box-content-text-price ¥9,000
              .items__box-content-text-likes
                =fa_icon 'heart',class: 'like-icon'
                %span 22
              %p.items__box-content-text-tax (税込)
      %section.items__box-content
        %a(href='')
          %figure.items__box-content-photo
            =image_tag '/Hana.jpeg', :size =>'213x213'
          .items__box-content-text
            %h3.item__box-content-text-name デッドデッドデーモンズデデデデデデストラクション
            .items__box-content-text-num.clearfix
              .items__box-content-text-price ¥9,000
              .items__box-content-text-likes
                =fa_icon 'heart',class: 'like-icon'
                %span 22
              %p.items__box-content-text-tax (税込)
    .items__view-all
      %a(href='')すべての商品を見る

