%section.top-images
	.top-images__outer
		.top-images__area
			.top-images__item 
				.top-images__main-image
					.top-images__main-image-wrapper
						.top-images__text-content
							%h2 
								スマホでかんたん
								%br>/
								フリマアプリ
							%p 
								メルカリはスマホカメラからすぐに出品できる
								%br>/
								購入時も安心な独自システムのアプリです
							.top-images__download-btn.clearfix
								%a(href='https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8' target='_blank' class='btn-left')
									%img(src='//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4136293187' alt='')
								%a(href='https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja'target='_blank' class='btn-right')
									%img(src='//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4136293187' alt='')
						%img(src='//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?4136293187' class='top-images__phone-image')
				%a(href='/jp/welcome/' class='top-banner banner-welcome')
			.top-images__item
				%a(href='https://mercari-special.jp/' class='top-banner banner-kusanagi')
			.top-images__item
				%a(href='/jp/promotion/201812_bokurano_heisei/' class='top-banner banner-bokurano-heisei')
			.top-images__item
				%a(href='/jp/welcome/' class='top-banner banner-welcome')

	.top-images__nav
		.top-images__nav--prev 
		.top-images__nav--next 

	.top-images__dots
		.top-images__dot
			%span
		.top-images__dot
			%span
		.top-images__dot
			%span
		.top-images__dot
			%span

