%section.top-images
	.top-images__outer
		%div(class='top-images__area')
			.top-images__item 
				.top-images__main-image
					.top-images__main-image-wrapper
						.top-images__text-content
							%h2
								スマホでかんたん
								%br>/
								フリマアプリ
							%p 
								メルカリはスマホカメラからすぐに出品できる
								%br>/
								購入時も安心な独自システムのアプリです
							.top-images__download-btn.clearfix
								%a(href='' target='_blank' class='btn-left')
									=image_tag '/images/App_icon_top.png'							
								%a(href=''target='_blank' class='btn-right')
									=image_tag '/images/Google-Play.png'
						=image_tag '/images/phone_image_top.png', class: 'top-images__phone-image'
				%a(href='' class='top-banner banner-welcome')
			.top-images__item.banner-kusanagi
				%a(href='' class='top-banner banner-kusanagi')
					=image_tag '/images/kusanagi.jpg'
			.top-images__item
				%a(href='' class='top-banner banner-bokurano-heisei')
					=image_tag '/images/bokurano-heisei.jpg'
			.top-images__item
				%a(href='' class='top-banner banner-welcome')
					=image_tag '/images/banner-welcome.png'




