%section.top-images
  .top-images__outer
    %div(class='top-images__area')
      .top-images__item 
        .top-images__main-image
          .top-images__main-image-wrapper
            .top-images__text-content
              %h2
                スマホでかんたん
                %br>/
                フリマアプリ
              %p 
                メルカリはスマホカメラからすぐに出品できる
                %br>/
                購入時も安心な独自システムのアプリです
              .top-images__download-btn.clearfix
                =link_to image_tag('/images/App_icon_top.png'),'',class: 'btn-left'
                =link_to image_tag('/images/Google-Play.png'),'',class: 'btn-right'
            =image_tag '/images/phone_image_top.png', class: 'top-images__phone-image'
      .top-images__item.banner-kusanagi
        =link_to image_tag('/images/kusanagi.jpg'),'',class: 'top-banner banner-kusanagi'
      .top-images__item
        =link_to image_tag('/images/bokurano-heisei.jpg'),'',class: 'top-banner banner-bokurano-heisei'
      .top-images__item
        =link_to '','',class: 'top-banner banner-welcome'
				