%header.header-content
	.header-innner
		.header-innner__clearfix
			%h1.header-innner__left
				%a(class='header-innner__link' href='')
					%img(src='//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4136293187' alt='mercari' width='134' height='36')
			%form(action='' class='header-innner__form')
				%input(type='search' name='keyword' placeholder='キーワードから探す' class='header-innner__input')
					=fa_icon "search", class: 'header-innner__search-icon'
		.header-innner__clearfix.header-innner__navbox
			%nav.header-innner__left
				%ul.header-innner__nav
					%li
						%h2
							%a(href='' class='header-innner__nav-root')カテゴリーから探す
					%li
						%h2
							%a(href='' class='header-innner__nav-root')ブランドから探す

			.header-innner__right
				%ul.header-innner__login-nav
					%li
						%a(href='' class='header-innner__header-btn--login')ログイン
					%li.header-innner__signup
						%a(href='' class='header-innner__header-btn--signup')新規会員登録


#main.main-content




#aside.aside-content



#footer.footer-content



#a.sell-btn








