%header.header-content
  = render 'shared/header'

%section.item-detail
  = render 'shared/item-detail'
  =link_to "購入画面に進む", "", class: "item-detail__buy-button"
  .item-detail__item-description
    %p.item-detail__item-description-inner
    =@item.description
  .item-detail__item-button.clearfix
    .item-detail__item-button-left
      =link_to "", class: "item-detail__like-button" do
        %i.far.fa-heart.like-icon
        %span いいね！
        %span 14
      =link_to "", class: "item-detail__flag-button" do
        %i.far.fa-flag.flag-icon
        %span 不適切な商品の報告
    .item-detail__item-button-right
      =link_to do
        %i.fas.fa-lock.lock-icon
        %span あんしん・あんぜんへの取り組み

#aside.banner-content
  = render 'shared/banner-content'

#footer.footer-content
  = render 'shared/footer'


