.brands-show{
  margin: 40px auto 0;
  width: 1020px;
  padding: 0 0 40px;
  display: block;
  &__contents{
    width: 100%;
    float: right;
    ul.brands-show__nav{
      list-style: none;
      margin: 0;
      li{
        float: left;
        margin: 16px 16px 0 0;
        a{
          color: #0099e8;
          text-decoration: none;
        }
      }
    }
    .brands-show__item-area{
      margin-top: 40px;
      padding-top: 10px;
      h1{
        margin: 5px 10px 8px 10px;
        font-size: 22px;
        line-height: 1.4;
        display: inline-block;
      }
      p.brands-show__item-brand{
        font-size: 22px;
        font-weight: bold;
        display: inline-block;
      } 
    }
  }
}
