.items{
  padding: 40px 0;
    h2{
      font-size: 28px;
      font-weight: bold;
      text-align: center;
    }
    &__box{
      width: 940px;
      margin: 0 auto;
      h3{
        margin: 26px 11px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        a{
          color: #0099e8;
        }
      }
    }
    .clearfix{
      &:after{
        @include clearfix;
      }
    }
    &__box-content{
      width: 213px;
      margin: 10px 0 0 20px;
      float: left;
      background-color: #fff;
      a{
        color: #333;
        display: block;
        figure{
          width: 213px;
          height: 220px;
          overflow: hidden;
          position: relative;
          img{
            vertical-align: middle;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
          }
        }
        .items__box-content-text{
          height: 110px;
          padding: 16px;
          h3{
            margin: 0;
            font-size: 16px;
            font-weight: normal;
            text-align: left;
            overflow: hidden;
            line-height: 1.5;
            position: relative;
            &:after{
              background-image: linear-gradient(to right, rgba(255,255,255,0) , #fff 72%);
              content: "";
              display: block;
              height: 1.5em;
              width: 50%;
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
          &-num{
            margin: 8px 0 0;
          }
          &-price{
            font-size: 20px;
            font-weight: 500;
            float: left;
          }
          &-likes{
            float: right;
            i.like-icon{
              margin: 0 4px 0 0;
              color: #ccc;
              font-size: 1.2em;
            }
          }
          &-tax{
            font-size: 10px;
          }
          &-tax{
            clear:both;
          }
        }
      }
    }
    &__view-all{
      padding: 20px 0 30px;
      width: 99.5%;
      text-align: right;
      a{
        color: #0099e8;
      }
    }
}

.sell-upload-items{
  float: left;
  li, img, figure, a,div{
    display: inline-block;
  }
  ul{
    float: left;
    li{
      width: 140px;
      display:inline-block;
      position: relative;
      height: 160px;
      margin: 0 5px;
      background-color: #F5F5F5;
      width: 130px;
      figure{
        height: 100%;
        text-align: center;
        margin: auto;
      }
      img{
        text-align: center;
        width: 100%;
        background-color: #000000;
        margin: auto;
      }
      .sell-upload-button{
        background-color: #F5F5F5;
        width: 100%;
        margin: auto;
        height: 20px;
        text-align: center;
        a{
          display:inline-block;
          margin: 5px;
          width: 30%;
          line-height: 10px;
          border-left: solid;
        }
        a:first-child{
          border: none;
        }
      }
    }
  }
}

#drop_zone{
  background-color: #F5F5F5;
  box-shadow:none;
  border: 1px dashed #ccc;
  position: relative;
  height: 180px;
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;
  width: 580px;
  float: right;
}
.have-item0{
  #drop_zone{
    width: 580px;
  }
}
.have-item1{
  #drop_zone{
    width: 440px;
  }
}
.have-item2{
  #drop_zone{
    width: 300px;
  }
}
.have-item3{
  #drop_zone{
    width: 160px;
  }
}
.have-item4{
  #drop_zone{
    display: none;
  }
}
