.mypage{
  &-container{
    width: 1020px;
    margin: 40px auto;
    height: 100%;
  }
  &-sidebar{
    float: left;
    width: 280px;
  }
  &-nav{
    &-list{
      background-color: #FFFFFF;
      line-height: 50px;
        li{
          border-bottom: solid #F5f5f5;
          position: relative;
          &:after{
            font-family: 'FontAwesome';
            content: "\f105";
            color: #CCCCCC;
            position: absolute;
            top: 50%;
            right: 9px;
            margin-top: -25px;
          }
        }
        a:link{
          color: #333333;
          text-decoration: none;
          margin: auto 15px;
          position: relative;
        }
        li:hover {
          background: #fafafa;
          text-decoration: none;
          opacity: 1;
          &:after{
            -webkit-transition: 0.2s ease-in-out;
            right: 6px;
            font-weight: bold;
            color: black;
          }
        }
      }
    &-head{
      line-height: 16px;
      margin-top: 40px;
      font-weight: bold;
    }
  }
}

