.user{
  &-info{
    position: relative;
    width: 700px;
  }
  &-background{
  }
  &-image{
    position: absolute;
    width: 140px;
    top: calc( 50% - 60px);
    right: calc( 50% - 70px);
    img{
      width: 60px;
      border-radius: 80px;
      margin-left: 40px;
    }
    p{
      text-align: center;
      margin-top: 10px;
    }
    &:hover{
      opacity: 0.7;
      p{
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}
