.mypage{
  &-container{
    width: 1020px;
    margin: 40px auto;
    height: 100%;
  }
  &-sidebar{
    margin: 0 auto;
    width: 280px;
  }
  &-nav{
    &-list{
      background-color: #FFFFFF;
      line-height: 50px;
      margin: 20px auto;
        li{
          border-bottom: solid #F5f5f5;
          position: relative;
          &:after{
            font-family: 'FontAwesome';
            content: "\f105";
            color: #CCCCCC;
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -25px;
          }
        }
        a:link{
          color: #333333;
          text-decoration: none;
          margin: auto 15px;
          position: relative;
        }
      }
    &-head{
      line-height: 16px;
      margin-top: 40px;
      font-weight: bold;
    }
  }
}

.icon-arrow-right::before{
  font-size: 16px;
  text-align: right;
}
