.signup {
  &-container {
    padding: 0 0 250px;
  }
  &-header {
  text-align: center;
    h1 {
    display: inline-block;
    margin: 11px 0 12px;
    }
    a {
      display: inline-block;
      width: 120px;
      height: 33px;
      margin: 0 8px 0 0;
      line-height: 33px;
    }
    img {
      width: 120px;
      height: 33px;
    }
  }
  &-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;
    ul {
      font-size: 0;
    }
    li {
      margin: 16px 0 0;
      font-size: 12px;
    }
    li:first-child {
      margin: 0;
    }
    a {
      display: block;
      color: #333;
    }
    p {
      margin: 8px 0 0;
    }
    small {
      font-size: 12px;
    }
    &__logo {
      width: 80px;
      height: 65px;
      margin: 40px auto 0
    }
  }
}

.l-signup{
  &-container {
  background: #fff;
  }
  &-inner {
    border-top: 1px solid #f5f5f5;
    padding: 40px;
    .btn-red {
      margin: 40px 0 0;
    }
    .btn-red:first-child {
      margin: 0;
    }
    .btn-gray {
      margin: 16px 0 0;
    }
    p {
      margin: 8px 0 0;
      line-height: 1.5;
    }
  }
  &-content {
    max-width: 320px;
    margin: 0 auto;
    p {
      margin: 8px 0 0;
      line-height: 1.5;
      .l-signup-text {
        margin: 8px 0 0;
        padding: 0;
      }
    }
    p:first-child {
      margin: 0;
      padding: 0;
    }
  }
  &-head {
    padding: 32px 8px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
  }
}
.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center
}

.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff
}

.btn-blue {
  background: #0399E8;
  border: 1px solid #0399E8;
  color: #fff;
  width:328px;
  margin: 0 auto;
}

.btn-default:hover {
  text-decoration: none
}

.btn-default.is-disabled,
.btn-default:disabled {
  border: 1px solid #888;
  background: #888;
  color: #fff
}

.btn-default.is-disabled:hover,
.btn-default:disabled:hover {
  background: #888;
  color: #fff
}
.icon-facebook{position: relative;}
.icon-google-plus{position: relative;}

.btn-mail {
  position: relative;
  background: #eee;
  color: #000
}

.btn-sns-facebook {
  position: relative;
  background: #385185;
  color: #FFFFFF
}

.btn-sns-google {
  position: relative;
  background: #DC4E41;
  color: #FFFFFF
}

.btn-mail .fa-envelope{
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #ccc;
  font-size: 16px
}
.icon-mail:before {
  content: '\e01d'
}




@media screen and (min-width:768px) {
  .signup{
    &-container {
      padding: 0 0 220px;
    }
    &-header {
      height: 128px;
      h1 {
       margin: 40px 0 0;
      }
      a {
        width: 185px;
        height: 49px;
        line-height: 49px;
      }
      img {
        width: 185px;
        height: 49px;
      }
    }
    &-footer {
      width: 456px;
      height: 220px;
      margin: 0 auto;
    li {
        display: inline-block;
        margin: 0 0 0 16px;
      }
    }
  }
  .l-signup{
    &-container {
      width: 700px;
      margin: 0 auto;
    }
    &-inner {
      padding: 64px;
    }
  }
}


@media screen and (min-width:768px) {
  .signin{
    &-container {
      padding: 0 0 220px;
    }
    &-header {
      height: 128px;
      h1 {
       margin: 40px 0 0;
      }
      a {
        width: 185px;
        height: 49px;
        line-height: 49px;
      }
      img {
        width: 185px;
        height: 49px;
      }
    }
    &-footer {
      width: 456px;
      height: 220px;
      margin: 0 auto;
    li {
        display: inline-block;
        margin: 0 0 0 16px;
      }
    }
  }
  .l-signup{
    &-container {
      width: 700px;
      margin: 0 auto;
    }
    &-inner {
      padding: 64px;
    }
  }
}

.birthday-select-wrap {
  display: block
}

@media screen and (min-width:768px) {
  .birthday-select-wrap {
    display: inline-block
  }

}

.birthday-select-wrap .select-wrap {
  display: inline-block;
  width: 200px
}

@media screen and (min-width:768px) {
  .birthday-select-wrap .select-wrap {
    width: 140px
  }

}

.birthday-select-wrap .select-wrap+span {
  margin: 0 8px
}

.signin {
  &-container {
    padding: 0 0 250px;
    margin: 0 auto;
    width: 456px;
  }
  &-header {
  text-align: center;
    h1 {
    display: inline-block;
    margin: 11px 0 12px;
    }
    a {
      display: inline-block;
      width: 120px;
      height: 33px;
      margin: 0 8px 0 0;
      line-height: 49px;
    }
    img {
      width: 185px;
      height: 49px;
    }
  }
  &-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;
    ul {
      font-size: 0;
    }
    li {
      margin: 16px 0 0;
      font-size: 12px;
    }
    li:first-child {
      margin: 0;
    }
    a {
      display: block;
      color: #333;
    }
    p {
      margin: 8px 0 0;
    }
    small {
      font-size: 12px;
    }
    &__logo {
      width: 80px;
      height: 65px;
      margin: 40px auto 0
    }
  }
}

.l-signin{
  &-container {
  background: #fff;
  }
  &-inner {
    border-top: 1px solid #f5f5f5;
    padding: 40px;
    .btn-red {
      margin: 40px 0 0;
    }
    .btn-red:first-child {
      margin: 0;
    }
    .btn-gray {
      margin: 16px 0 0;
    }
    p {
      margin: 8px 0 0;
      line-height: 1.5;
    }
  }
  &-content {
    max-width: 320px;
    margin: 0 auto;
    p {
      margin: 8px 0 0;
      line-height: 1.5;
      .l-signup-text {
        margin: 8px 0 0;
        padding: 0;
      }
    }
    p:first-child {
      margin: 0;
      padding: 0;
    }
    .btn-group{
      margin: 0 0 20px 0;
    }
  }
  &-head {
    padding: 32px 8px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
  }
}

.login-no-account p {
    font-size: 14px;
    font-weight: normal;
}
.formErrorContent{
  color: #F00;
  top: 30px;
  position: absolute;
  width: 300px;
  height: 20px;
}
